 <!-- FOOTER -->
 <footer class="w-100 py-4 mt-5 bg-body-tertiary shadow-lg flex-shrink-0">
  <div class="container py-4">
      <div class="row gy-4 gx-5">
          <div class="col-lg-4 col-md-6">
              <figure>
                <img class="img-fluid mgo" width="200" src="../../assets/Oil.png" alt="">
              </figure>
              <p class="small text-muted">These Photos had taken by Mozahid from different timeline over the bangladesh since 2015.</p>

          </div>
          <div class="col-lg-3 col-md-6">
              <h5 class="mb-3">Find Me on Social Media</h5>
              <ul class="list-unstyled text-muted">
                  <li><a target="_blank" href="https://www.facebook.com/mozahid34/">facebook</a></li>
                  <li><a target="_blank" href="https://www.instagram.com/aymanmozahid/">Instagram</a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/mozahid34/">LinkedIn</a></li>
                  <li><a target="_blank" href="https://github.com/mozahid34">GitHub</a></li>
              </ul>
          </div>

          <div class="col-lg-5 col-md-6">
            <h5 class="mb-3">About Me</h5>
              <div class="d-flex">
                <div class="">
                  <h6>Mozahid</h6>
                  <small> I am a front-end software engineer. Beside that I am very much passionate about photography from my childhood. I am using my smart phone to capture Photographs. </small>
                  <p>Vist: <a target="_blank" href="https://mozahid34.netlify.app/">www.mozahid.com</a></p>
                </div>

                <div>
                  <figure>
                    <img class="" src="../../assets/me-rm.png" alt="half-profile" width="125">
                  </figure>
                </div>


              </div>
          </div>
      </div>
      <div class="row gy-2 gx-5 text-center">
        <p class="small text-muted mb-0">&copy; Copyrights 2023.</p>
        <p>Developed By <span><a href="https://www.facebook.com/mozahid34/" target="_blank" rel="noopener noreferrer">Mozahid</a></span></p>

      </div>
  </div>
</footer>
