<div id="carouselExampleCaptions" class="carousel slide caro">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.6435-9/96426954_2727066324181598_7929153504143212544_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGIbGDALZmlDrFfsGiT-IGrp4ZEtwZy9N-nhkS3BnL03-sLPSHJ40PX3zUkAPKF1YVSVNLs7dBv-U0CDXrjNjmf&_nc_ohc=K6Gv4-kDUDsAX-qoZ8U&_nc_ht=scontent.fdac8-1.fna&oh=00_AfCx4jBJL0SXVl7MsEIfIkg3Eom2Irr4u8VhexlaH3FjQg&oe=649C7CD6" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mozahid Photographs</h5>
          <p>These Photos are captured by Mozahid from different timeline since 2015.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.6435-9/96020957_2727066117514952_8455507170811707392_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEXG_E1-f4lArzkN2IfJpdK44H8AKUG0mDjgfwApQbSYDhW12wugCcDFSL21D3dVbzv6I_yPqxe3MGgSElka8UR&_nc_ohc=FwjoYNYcIFAAX_hJbT5&_nc_ht=scontent.fdac8-1.fna&oh=00_AfBzGXaniUivoZGmaHjsVQhuaKn3AAWAbKLG14PVNWOaKQ&oe=649C4D47" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Mozahid Photographs</h5>
            <p>These Photos are captured by Mozahid from different timeline since 2015.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.6435-9/96080180_2727066217514942_3713613867276828672_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeF72v90Ht-OMUPyOXe0P5qHmk17o5CAvtiaTXujkIC-2P6XNgvQagdd2_IorhVnnN9QC93gqeR079nMW3qTC7kV&_nc_ohc=Uw7EbH2BF2AAX9huFyQ&_nc_ht=scontent.fdac8-1.fna&oh=00_AfCDCMGWHtomN4aHHP_g1Syppxn7vDxRXsK_bOf9_fLJYw&oe=649C75CD" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Mozahid Photographs</h5>
            <p>These Photos are captured by Mozahid from different timeline since 2015.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
