<div class="container mt-5">
    <div class="row space">
        <div class="col-12 col-md-8">
          <a href={{photo.img}}>
            <img class="img-fluid" src={{photo.img}} alt="">
          </a>

        </div>
        <div class="col-6 col-md-4 rel">
            <h2 class="bg-info p-2 rounded-2">Photo details</h2>
            <div class="mx-2 my-5">
                <h3>Caption: {{photo.caption}}</h3>
                <h4>Location: {{photo.location}} </h4>
                <h4>Category: {{photo.category}} </h4>
                <h4>Device: {{photo.device}} </h4>
                <h4>Year: {{photo.year}} </h4>
                <p>{{photo.des}}</p>
                <h4>Captured By: {{photo.by}} </h4>

                <div class="abs text-warning bg-secondary">
                  <small>{{photo?.note}}</small>

                </div>

            </div>



      </div>
    </div>

</div>
