<div class="container mt-5 mh-100vh">
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid" src={{photo.img}} alt="">

        </div>
        <div class="col-12 col-md-6">
            <h2>Photo details</h2>
            <div class="mx-2 my-5">
                <h3>Caption: {{photo.caption}}</h3>
                <h4>Location: {{photo.location}} </h4>
                <h4>Device: {{photo.device}} </h4>
                <h4>Year: {{photo.year}} </h4>
                <p>{{photo.des}}</p>
                <h4>Captured By: {{photo.by}} </h4>

            </div>
        </div>
    </div>
</div>
